<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berita</title>
    <link href="berita.css" rel="stylesheet" type="text/css">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
</head>

<body>
    <section class="maintitle">
        <div class="container h-100 d-flex flex-column mt-4">
            <div class="judul">
                <h1>ARTIKEL</h1>
            </div>
            <div class="barisabu"></div>
            <div class="barisbiru"></div>
        </div>
    </section>
    <section class="navbar" id="navbar">
        <div class="container h-100 justify-content-center mt-4">
            <nav class="navbar">
                <div class="container-fluid" id="pilihan">
                    <span class="navbar-brand mb-0" id="klik1">Semua</span>
                    <span class="navbar-brand mb-0" id="klik2">Seminar</span>
                    <span class="navbar-brand mb-0" id="klik3">Lomba</span>
                    <span class="navbar-brand mb-0" id="klik4">Beasiswa</span>
                </div>
            </nav>
        </div>
    </section>
    <section class="berita">
        <div class="container-fluid" id="con">
            <% for (const data of datas) {%>
                <div class="cardarea">
                    <div class="card align-items-center">
                        <div class="widget">
                            <ul>
                                <li>
                                    <span>
                                        <svg aria-hidden="true" class="e-font-icon-svg e-far-user-circle"
                                            viewBox="0 0 496 512">
                                            <path
                                                d="M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z"
                                                fill="#0000FF"></path>
                                        </svg>
                                    </span>
                                    <span>
                                        <%= data.author %>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <svg aria-hidden="true" class="e-font-icon-svg e-fas-calendar tanggal"
                                            viewBox="0 0 448 512">
                                            <path
                                                d="M12 192h424c6.6 0 12 5.4 12 12v260c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V204c0-6.6 5.4-12 12-12zm436-44v-36c0-26.5-21.5-48-48-48h-48V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H160V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v36c0 6.6 5.4 12 12 12h424c6.6 0 12-5.4 12-12z"
                                                fill="#0000FF"></path>
                                        </svg>
                                    </span>
                                    <span>
                                        <time>
                                            <%= formatDate(data.date) %>
                                        </time>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <svg aria-hidden="true" class="e-font-icon-svg e-fas-tags"
                                            viewBox="0 0 640 512">
                                            <path
                                                d="M497.941 225.941L286.059 14.059A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v204.118a48 48 0 0 0 14.059 33.941l211.882 211.882c18.744 18.745 49.136 18.746 67.882 0l204.118-204.118c18.745-18.745 18.745-49.137 0-67.882zM112 160c-26.51 0-48-21.49-48-48s21.49-48 48-48 48 21.49 48 48-21.49 48-48 48zm513.941 133.823L421.823 497.941c-18.745 18.745-49.137 18.745-67.882 0l-.36-.36L527.64 323.522c16.999-16.999 26.36-39.6 26.36-63.64s-9.362-46.641-26.36-63.64L331.397 0h48.721a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882z"
                                                fill="#0000FF"></path>
                                        </svg>
                                    </span>
                                    <span>
                                        <%= data.nama_kategori %>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="foto">
                            <img src="<%= data.base64Image %>" alt="fotoartikel">
                        </div>
                        <div class="description">
                            <h4>
                                <%= data.title %>
                            </h4>
                            <p>
                                <%= data.content %>
                            </p>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>
        <div class="pagination" id="pagination">
            <button id="prevPage" class="pagination-btn">Previous</button>
            <span id="pageInfo" class="pagination-info">Page 1 of 1</span>
            <button id="nextPage" class="pagination-btn">Next</button>
        </div>
    </section>

    <!-- bottom -->
    <section id="bot" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="main d-flex flex-row flex-wrap">
                    <div class="quicklinks">
                        <h4>Quick Links</h4>
                        <a href="#">High Achiever</a>
                        <a href="#">Competition</a>
                        <a href="#">Scholarship</a>
                    </div>
                    <div class="sosmed">
                        <h4>HMJ TI</h4>
                        <!-- <img src="image/hmj/logo_hmj.png" alt="logo_hmj" class="img-logo" width="75px" height="75px" /> -->
                        <div class="icon">
                            <div class="canvas">
                                <a href="https://x.com/HMJTI_POLIJE"><img src="Twiter Icon.png" alt="" /></a>
                            </div>
                            <div class="canvas">
                                <a href="https://www.youtube.com/@HMJTIPolije"><img src="Facebook Icon.png"
                                        alt="" /></a>
                            </div>
                            <div class="canvas">
                                <a href="mailto:<hmjti@polije.ac.id>"><img src="Email Icon.png" alt="" /></a>
                            </div>
                            <div class="canvas">
                                <a href="https://wa.me/6287779834215"><img src="Whatsapp icon.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="contactinfo">
                        <h4>Contact Info</h4>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.314 28.323"
                                style="enable-background:new 0 0 28.314 28.323" width="18px" xml:space="preserve"
                                class="telepon" fill="#444444">
                                <path
                                    d="m27.728 20.384-4.242-4.242a1.982 1.982 0 0 0-1.413-.586h-.002c-.534 0-1.036.209-1.413.586L17.83 18.97l-8.485-8.485 2.828-2.828c.78-.78.78-2.05-.001-2.83L7.929.585A1.986 1.986 0 0 0 6.516 0h-.001C5.98 0 5.478.209 5.101.587L.858 4.83C.729 4.958-.389 6.168.142 8.827c.626 3.129 3.246 7.019 7.787 11.56 6.499 6.499 10.598 7.937 12.953 7.937 1.63 0 2.426-.689 2.604-.867l4.242-4.242c.378-.378.587-.881.586-1.416 0-.534-.208-1.037-.586-1.415zm-5.656 5.658c-.028.028-3.409 2.249-12.729-7.07C-.178 9.452 2.276 6.243 2.272 6.244L6.515 2l4.243 4.244-3.535 3.535a.999.999 0 0 0 0 1.414l9.899 9.899a.999.999 0 0 0 1.414 0l3.535-3.536 4.243 4.244-4.242 4.242z" />
                            </svg>087779834215
                        </p>
                        <p class="email">
                            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"
                                width="18px" fill="#444444">
                                <path
                                    d="M123.25 24.192c0-.018 0-.034-.005-.052s-.007-.063-.009-.094a1.734 1.734 0 0 0-.083-.408c-.006-.018 0-.037-.011-.055s-.01-.015-.013-.023a1.734 1.734 0 0 0-.227-.407c-.021-.028-.043-.053-.066-.08a1.755 1.755 0 0 0-.31-.294c-.012-.009-.022-.02-.034-.028a1.744 1.744 0 0 0-.414-.2c-.034-.012-.068-.022-.1-.032a1.733 1.733 0 0 0-.474-.073H6.5a1.733 1.733 0 0 0-.474.073c-.035.01-.068.02-.1.032a1.744 1.744 0 0 0-.414.2c-.012.008-.022.019-.034.028a1.755 1.755 0 0 0-.31.294c-.022.027-.045.052-.066.08a1.734 1.734 0 0 0-.227.407c0 .008-.01.015-.013.023s-.005.037-.011.055a1.734 1.734 0 0 0-.083.408c0 .032-.009.063-.009.094s-.005.034-.005.052v79.615c0 .023.006.045.007.068a1.737 1.737 0 0 0 .019.188c.008.051.015.1.027.152a1.74 1.74 0 0 0 .056.179c.017.047.033.094.054.139a1.729 1.729 0 0 0 .093.172c.024.04.048.081.075.119a1.743 1.743 0 0 0 .125.152c.033.036.066.072.1.106.021.019.037.042.059.061s.036.017.052.03a1.736 1.736 0 0 0 .452.263c.035.014.071.022.107.033a1.732 1.732 0 0 0 .488.085c.012 0 .023.006.035.006H121.501c.012 0 .023-.006.034-.006a1.732 1.732 0 0 0 .489-.085c.035-.011.07-.019.1-.033a1.736 1.736 0 0 0 .453-.263c.016-.013.036-.017.052-.03s.038-.042.059-.061c.036-.034.069-.069.1-.106a1.743 1.743 0 0 0 .125-.152c.027-.038.051-.078.075-.119a1.729 1.729 0 0 0 .093-.172c.021-.045.037-.092.054-.139a1.74 1.74 0 0 0 .056-.179c.012-.05.019-.1.027-.152a1.737 1.737 0 0 0 .019-.188c0-.023.007-.045.007-.068zM45.8 60.316l17.058 14.677a1.751 1.751 0 0 0 2.283 0L82.2 60.316l35.512 41.741H10.289zM8.25 99.052V28.007l34.9 30.026zm76.6-41.019 34.9-30.026v71.045zm31.931-32.091L81.276 56.493c-.006.005-.014.008-.02.014l-.019.02L64 71.358 46.763 56.527l-.019-.02-.02-.014-35.507-30.551z">
                                </path>
                            </svg>
                            <a href="mailto:hmjti@polije.ac.id"
                                style="color: rgb(88, 88, 255); text-decoration: none; margin-left: -2px;">hmjti@polije.ac.id</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="copyright">
        <div class="container copyr">
            <p>Copyright © 2025 HMJTI - All rights reserved.</p>
        </div>
    </div>
</body>

<script>
    //klik navbar
    document.addEventListener('DOMContentLoaded', () => {
        // Get all elements
        const nav = document.querySelectorAll('[id^="klik"]');
        const cardAreas = document.querySelectorAll('.cardarea');
        const color = '#0000FF';

        let activespan = null;

        nav.forEach(span => {
            span.addEventListener("click", function () {
                // Reset previous active state
                if (activespan && activespan !== this) {
                    activespan.style.color = "#000000";
                }

                // Set current span as active
                activespan = this;
                this.style.color = color;

                // Get selected category text
                const selectedCategory = this.textContent.trim();

                // Filter card areas
                cardAreas.forEach(card => {
                    const cardCategory = card.querySelector('.widget ul li:last-child span:last-child').textContent.trim();

                    if (selectedCategory === 'Semua' || cardCategory === selectedCategory) {
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });
            });
        });
    });

    // pagination
    document.addEventListener('DOMContentLoaded', () => {
        // Pagination settings
        const itemsPerPage = 6;
        const cardAreas = document.querySelectorAll('.cardarea');
        const prevPageBtn = document.getElementById('prevPage');
        const nextPageBtn = document.getElementById('nextPage');
        const pageInfo = document.getElementById('pageInfo');

        // Category navigation elements
        const nav = document.querySelectorAll('[id^="klik"]');
        const color = '#0000FF';
        let activespan = null;

        // Pagination and filtering function
        function filterAndPaginateCards(category = 'Semua') {
            // Filter cards by category
            const visibleCards = Array.from(cardAreas).filter(card => {
                const cardCategory = card.querySelector('.widget ul li:last-child span:last-child').textContent.trim();
                return category === 'Semua' || cardCategory === category;
            });

            // Pagination calculations
            const totalCards = visibleCards.length;
            const totalPages = Math.ceil(totalCards / itemsPerPage);
            let currentPage = 1;

            // Function to show cards for current page
            function showCurrentPageCards() {
                // Hide all cards first
                cardAreas.forEach(card => card.style.display = 'none');

                // Calculate start and end indices
                const startIndex = (currentPage - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;

                // Show cards for current page
                visibleCards.slice(startIndex, endIndex).forEach(card => card.style.display = 'block');

                // Update page info
                pageInfo.textContent = `Page ${currentPage} of ${totalPages}`;

                // Enable/disable pagination buttons
                prevPageBtn.disabled = currentPage === 1;
                nextPageBtn.disabled = currentPage === totalPages;
            }

            // Previous page button
            prevPageBtn.onclick = () => {
                if (currentPage > 1) {
                    currentPage--;
                    showCurrentPageCards();
                }
            };

            // Next page button
            nextPageBtn.onclick = () => {
                if (currentPage < totalPages) {
                    currentPage++;
                    showCurrentPageCards();
                }
            };

            // Initial page display
            showCurrentPageCards();

            // Category navigation
            nav.forEach(span => {
                span.addEventListener("click", function () {
                    // Reset previous active state
                    if (activespan && activespan !== this) {
                        activespan.style.color = "#000000";
                    }

                    // Set current span as active
                    activespan = this;
                    this.style.color = color;

                    // Get selected category and filter
                    const selectedCategory = this.textContent.trim();

                    // Refilter and reset to first page
                    filterAndPaginateCards(selectedCategory);
                });
            });
        }

        // Initial pagination
        filterAndPaginateCards();
    });

    // active nav
    const nav = document.querySelectorAll('[id^="klik"]');
    const color = '#0000FF';

    let activespan = null;
    nav.forEach(span => {
        span.addEventListener("click", function () {
            if (activespan && activespan !== this) {
                activespan.style.color = "#000000";
            }

            activespan = this;

            this.style.color = color;
        });
    })
</script>

</html>